.vscode/launch.json
.vscode/settings.json
Server-Test.py
users1.db
users12.db
users76.db
users105.db
users105.db
users125.db
users105.db
__pycache__/Client.cpython-38.pyc
users126.db
users125.db-journal
.vscode/settings.json
users151.db
users151.db
users151.db
users109.db
users190.db
users1989.db
users179.db
users1920.db
users19560.db
see_db.py
show_lunix_cpu_usage.py
testing.py
report.20200520.192006.9640.0.001.json
static/node_modules/
.env
static/jquery.js
static/qrcode.min.js
static/JsBarcode.all.js
virusScan.py
virusScan.py
