/*
#all_comp h1{
    font-family: fantasy;
    text-align: center;
}
#all_comp p{
    font-family: unset;
    text-align: center;
}
.computers_link{
    text-align: center;
}
#all_comp body {
    background-color: lightblue;
  }
  
#all_comp a {
    background:
       linear-gradient(
         to bottom, var(--mainColor) 0%,
         var(--mainColor) 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  #all_comp:hover {
    background-size: 4px 50px;
  }
:root {
  --mainColor: #ff9800;
}
*/
body{
  text-align: center;
}
