{% extends 'base.html' %}


{% block head%}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block body%}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">computer id</th>
        <th scope="col">username</th>
        <th scope="col">Assigned computer id</th>
        <th scope="col">Assign</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
        {% for(username, assign_value) in zip(users_username, assigned_values) %}
        <tr>
        <form method="POST">
                <td>
                computer number: 
                <select class="custom-select" name={{username}}>
                {% for client_id in  computer_client_id%}
                <option value={{client_id}} name={{client_id}} >{{client_id}}</option>
                {% endfor %}
                <option value="-1" name="-1">None</option>
                <option hidden selected class="va">{{assign_value}}</option>
                </select>
                </td>
                <td>{{username}}</td>
                <td class="assigned_values">{{assign_value}}</td>
                <td>
                    <input type="submit" class="btn btn-danger btn-md button-class" value="submit" formaction="">
                </td>   
                <td>
                    <div class="status"></div>
                </td>     
            </form>
       </tr>
       {% endfor %}
    </tbody>
  </table>

<style>
    .custom-select{
        width: 80px;
    }
</style>
<script>
$(document).ready(function(){
            var currentIndex = $('.button-class').index(this);
            var data = $("form").serialize();
            try{
                data = data.split('&');
                data = data[currentIndex]
            }
            catch(err){
                data = ""
            }
            $.ajax({
                type: "POST",
                url: 'admin-panel/data',
                data: data,
                beforeSend: function(){
                    $(".status").eq(currentIndex).html("<div class = 'alert-info'>Loading...</div>");
                    $(".assigned_values").text("Loading..");
                },
                success: function(res){
                    console.log(res);
                    res = res["Values"]
                    console.log(typeof(res));
                    if(Array.isArray(res)){
                        const $assigned_values = $(".assigned_values");
                        $(".status").eq(currentIndex).html("<div class = 'alert-success'>Success</div>");
                        for(var i = 0; i< res.length; i++){
                            $assigned_values.eq(i).text(res[i]);
                        }
                        console.log("Awsome!")
                    }
                    else{
                        console.log(res)
                        $(".status").eq(currentIndex).html("<div class = 'alert-danger'>Failed</div>");
                    }
                },
                error: function(err, status){   
                    alert("err" + err);
                }
            });
        });
</script>


{% endblock %}