{% extends 'base.html' %}


{% block head%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block body%}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">computer id</th>
        <th scope="col">username</th>
        <th scope="col">Assigned computer id</th>
        <th scope="col">Assign</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for(username, client_id, computer_mac, assign_value) in zip(users_username, computer_client_id, computers_mac, assigned_values) %}
            <form action="" method="POST">
                <td>
                computer number: 
                <select class="custom-select" name={{username}}>
                <option value={{client_id}} name={{client_id}} >{{client_id}}</option>
                <option value="-1" name="-1">None</option>
                <option hidden selected>{{assign_value}}</option>
                </select>
                </td>
                <td>{{username}} ({{computer_mac}})</td>
                <td class="assigned_values">{{assign_value}}</td>
                <td>
                    <input type="submit" class="btn btn-danger btn-md a" id="button-id" value="submit">
                </td>   
                <td>
                    <div id="status"></div>
                </td>
            </form>
       </tr>
        {% endfor %}
    </tbody>
  </table>

<style>
    .custom-select{
        width: 80px;
    }
</style>
<script>
$(document).ready(function(){
        $("#button-id").click(function(){
            var data = $("form").serialize();
            console.log(data);
            $.ajax({
                type: "POST",
                url: 'admin/data',
                data: data,
                beforeSend: function(){
                    $("#status").html("<div class = 'alert-info'>Loading...</div>");
                    $(".assigned_values").text("Loading..");
                },
                success: function(res){
                    console.log(res)
                    res = res["Values"]
                    if(res != "failed"){
                        const $assigned_values = $(".assigned_values");
                        $("#status").html("<div class = 'alert-success'>Success</div>");
                        for(var i = 0; i< res.length; i++){
                            $assigned_values.eq(i).text(res[i]);
                        }

                        console.log("Awsome!")
                    }
                    else{
                        console.log(res)
                        $("#status").html("<div class = 'alert-success'>Failed</div>");
                        console.log("Failed!")
                    }
                }
            });
        });
    });
</script>


{% endblock %}