{% extends 'nevbar.html' %}
{% block head%}

{% endblock %}

{% block body%}
<p id="center-me">2FA verification</p>
<br>
<p id="center-me">You have 30 seconds to fill this form, otherwise you'll need to login again.</p>
<br>
<p id="center-me">Hello, you enabled 2FA verification.</p>
<br>
<p id="center-me">Please enter the code in order to precede.</p>
<div class="form-group" id="center-me">
    <label>ID:</label>
    <input type="text" class="form-control" id="2fa">
    <button type="button" class="btn btn-success" id="center-me">Go!</button>
    <p id="answer"></p>
</div>

<style>
#center-me{
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}
</style>
<script>
    var current_code = "{{fa2}}"
    var inter = setInterval(function(){
        let check_status = "{{code.verify(" + fa2 + ")}}";
        console.log(check_status)
        console.log(typeof(check_status))
        if(check_status == "False"){
            console.log("SEnding")
            $.ajax({
               type: "POST",
               url: "/get-the-new-code",
               data: "{{user.id}}",
               //success: function(res){
               // console.log(res)
               // current_code = res;
               //}
            });
        }
    }, 30000);
    $(".btn").click(function(){
        var input = $("#2fa").val()
        var data = false;
        if(current_code == input){
            $("#answer").html("<div class = 'alert-danger'>Corrent code! I'll redirect you to the main page in a few seconds!</div>");
            data = true
            $.ajax({
                type: "POST",
                url: "/check-2fa",
                data: "{{user.id}}",
                success: function(res){
                    $(location).attr("href", "http://admin-monitor.herokuapp.com/")
                }
            });
        }
        else{
            data = false;
            console.log(current_code)
            $("#answer").html("<div class = 'alert-danger'>Wrong code</div>");
        }
    });
</script>


{% endblock %}
