<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script>
    /*
    var myReq = new XMLHttpRequest();
    myReq.onreadystatechange = function(){
        if (myReq.readystate == 4) {
            if (myReq.status == 200) {
                console.log("Great!")
                var myData = myReq.responseText;
                console.log(myData);
                alert(myData);
            }
        }
    }
    myReq.open("GET", "http://192.168.1.107:5000/computers/2", true)
    myReq.send()
    
    
    $(document).ready(function(){
    $.post("/computers/2", function(data, status){
      alert("Data: " + data + "\nStatus: " + status);
    });
});
*/

</script>

<div class="box box-default">
    <code>
        <pre>{{{{json_request}} |json}}</pre>
    </code>
</div>