{% extends 'nevbar.html' %}

{% block head%}
<title> Main Page </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
{% endblock %}


{% block body%}
<h1 class = "title"> Hello! you are logged in as {{user}} level: {{level}}</h1>
{% if level == 3 %}
<div class = "computers_link">
    <a href="http://admin-monitor.herokuapp.com/admin-panel">Click here to go the the admin panel</a>
</div>
{%endif%}
<p id="all_comp">Welcome!</p>
<p id="all_comp">This is the main page</p>
<p id="all_comp">Click the link!</p>
<div class = "computers_link"> <a href="http://admin-monitor.herokuapp.com/computers" id="all_comp">Click me to view all the signed computers</a></div>
<form action="/logout">
<div class = "computers_link">
    <input type="submit" name="submit" class="btn btn-info btn-md " id="" value="logout">
</div>
<br>
</form>
{% endblock %}
