<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" action="">
                            <h3 class="text-center text-info">Register</h3>
                            <div class="form-group">
                                <label for="username" class="text-info glyphicon glyphicon-user">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                                <p id="user-wrong"></p>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                                <p id="pass-wrong"></p>
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-info">Email:</label><br>
                                <input type="text" name="email" id="email" class="form-control">
                                <p id="email-wrong"></p>
                            </div>
                            <div class="form-group">
                            </div>
                        </form>
                        <input type="submit" name="submit" class="btn btn-info btn-md" id="button-id" value="submit">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</body>
<style>
body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#button-id{
    margin-left: 220px;
}
</style>
<script>
    $(document).ready(function(){
        $("#button-id").click(function(){
            var data = $("form").serialize();
            console.log(data);
            $.ajax({
                type: "POST",
                url: 'register',
                data: data,
                success: function(res){
                    if(res=="username"){
                        $("#user-wrong").html("<div class = 'alert-danger'>the username is already used</div>");
                    } 
                    else if(res=="email"){
                        $("#email-wrong").html("<div class = 'alert-danger'> the email is already used or not a valid email</div>");
                    }
                    else{
                        $("#email-wrong").html("great");
                        $("#user-wrong").html("great");
                        $(location).attr("href", "http://192.168.1.181:5000/login")
                    }
                }
            });
        });
    });
</script>