{% extends 'nevbar.html' %}


{% block head%}
<title> original </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% endblock %}

{% block body%}
  
<div id="content">
  <div type="button" class="alert alert-primary alert-dismissible fade show" data-dismiss="alert">
      Welcome, this is computer number <strong>{{computer.id}}</strong>.
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle computer-data-dropdown menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose auto refresh time (min is 5)
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item computer-data-dropdown-item" id="5">5</button>
      <a class="dropdown-item computer-data-dropdown-item" id="6">6</a>
      <a class="dropdown-item computer-data-dropdown-item" id="7">7</a>
      <input id="input" class="dropdown-item computer-data-dropdown-item">
    </div>
  </div>
    <br>
    <br>
    <br>
    <div class="boxes">
      <button type="button" class="btn btn-primary" id="box">
          id:  <span class="badge badge-light">{{computer.id}}</span>
        </button>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-primary">
          mac address:  <span class="badge badge-light">{{computer.mac_address}}</span>
        </button>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-primary">
          ram usage:  <span class="badge badge-light">{{computer.ram_usage}}</span>
        </button>
      <br>
      <br>
      <br>
      <p class="btn btn-primary">running processes: </p>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-dark table-hover">
          <thead>
            <tr class="table-dark text-dark">
              <th scope="col">PID</th>
              <th scope="col">Name</th>
              <th scope="col">CPU</th>
              <th scope="col">Memory</th>
            </tr>
          </thead>
          <tbody>
            {% for (s_pid, s_name, s_cpu_percent, s_memory_percent) in zip(pid, name, cpu_percent, memory_percent)%}
            <tr>
              <td class="task-pid">{{s_pid}}</td>
              <td class="task-name">{{s_name}}</td>
              <td class="task-cpu-percent">{{s_cpu_percent}}</td>
              <td class="task-memory-percent">{{s_memory_percent}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-primary text-nowrap">
          cpu usage procentage:  <span class="badge badge-light live text-nowrap" id ="cpu">{{computer.cpu_usage_procentage}}</span>  
        </button>
      <div class="progress">
        <div id="cpu-progress" class="progress-bar bg-info" style="width: {{computer.cpu_usage_procentage}}%" role="progressbar" aria-valuenow="{{computer.cpu_usage_procentage}}" aria-valuemin="0" aria-valuemax="100">{{computer.cpu_usage_procentage}}</div>
      </div>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-primary">
          memory usage procentage:  <span class="badge badge-light live" id="memory">{{computer.memory_usage_procentage}}</span>
      </button>
      <div class="progress">
        <div id="memory-progress" class="progress-bar bg-info" role="progressbar" style="width: {{computer.memory_usage_procentage}}%" aria-valuenow="{{computer.memory_usage_procentage}}" aria-valuemin="0" aria-valuemax="100">{{computer.memory_usage_procentage}}</div>
      </div>
      <br>
      <br>
      <br>
      <div type="button" class="alert alert-primary alert-dismissible fade show" data-dismiss="alert">
        NOTE: You can only download files, not folders
      </div>
      <br>
      <p>Enter a path:</p> 
      <br>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter directory" aria-label="Enter directory" aria-describedby="basic-addon2" value="C:/" id="dir-val">
          <div class="input-group-append" id="inlineFormInputGroup">
            <button class="btn btn-outline-secondary" id="dir-button" type="button">Go!</button>
          </div>
        </div>
      <ul id="list-dir">
      </ul>
  </div>
</div>
<script>
toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": true,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
  /* handle dropdown value */
var timer = 5000;
$(".computer-data-dropdown").click(function(){
  $(".computer-data-dropdown-item").fadeOut(1).fadeIn(2000); //animation
});
$("#dir-button").click(function(){
  var input_val = $("#dir-val").val();
  var currentLocation = window.location;
  var send_loc = currentLocation + "/ajax-dir"
  data = "DirVals=" + input_val
  console.log(send_loc)
  console.log("before data"  +data)
  $.ajax({
    type: "POST",
    url: send_loc,
    data: data,
    success: function(dir_items){
      dir_items = dir_items["dir items"]
      if(dir_items == "The computer is offline" || dir_items == "Not found"){
        $("br").remove(".dir-items")
        $(".dir-items").remove()
        $(".add-href").remove()
        $("#list-dir").append("<il class='dir-items'>" + dir_items + "</il>")
      }
      else{
        console.log(dir_items)
        $("br").remove(".dir-items")
        $(".dir-items").remove()
        $(".add-href").remove()
        for(var i = 0; i<dir_items.length; i++){
          var href_element = window.location + '/upload-file/' + dir_items[i];
          $("#list-dir").append("<a href='' class='add-href'><il class='dir-items'> " + dir_items[i] + " <br> </il></a>")
          $(".add-href").eq(i).attr("href", href_element);
        }
      }
    }
  });
  
  /*
  setTimeout(function(){
    $.get("/computers/{{computer.id}}/ajax-dir", function(data){
    if(data !="Not found" && data["response" + "{{computer.id}}"] != "Not found"){
      console.log(data["response" + "{{computer.id}}"])
      $listSelector = $("#list-dir")
      $.each(data["response" + "{{computer.id}}"], function(i){
        $listSelector.append("<il>" + data["response" + "{{computer.id}}"][i] + "</il> <br>")
      });
    }
    else{
      console.log("Not found")
    }
  });
  }, 2500);
  */
});

$(".computer-data-dropdown-item").click(function(){ //make sure if I add another dropdown I need to change the class so they'll have diffrent ones if needed.
  var id = $(this).attr('id');
    if (id=="input"){
      $('#' + id).keypress(function (e) {
      var key = e.which;
      if(key == 13) 
        {
            timer = $('#' + id).val();
            timer = timer * 1000;
            console.log(timer);
            if(isNaN(timer) || timer < 5000){
              timer = 5000;
            }
            $('.dropdown-menu').click();
        }
      });   
    }
  else{
    timer = $('#' + id).html()
    timer = timer * 1000;
    if(isNaN(timer)|| timer < 5000){
      timer = 5000;
    }
  }
});
function change_progress_bar_color(cpu_after_change, memory_after_change){
  if (cpu_after_change <= 25){
    $('#cpu-progress').attr('aria-valuenow', cpu_after_change).attr('class', 'progress-bar bg-success').css('width', cpu_after_change + "%").text(cpu_after_change);
  }
  else if(cpu_after_change >= 25 && cpu_after_change <= 75){
    $('#cpu-progress').attr('aria-valuenow', cpu_after_change).attr('class', 'progress-bar bg-warning').css('width', cpu_after_change + "%").text(cpu_after_change);
  }
  else{
    $('#cpu-progress').attr('aria-valuenow', cpu_after_change).attr('class', 'progress-bar bg-danger').css('width', cpu_after_change + "%").text(cpu_after_change);
  }
  if (memory_after_change <= 25){
    $('#memory-progress').attr('aria-valuenow', memory_after_change).attr('class', 'progress-bar bg-success').css('width', memory_after_change + "%").text(memory_after_change);
    }
    else if(memory_after_change >= 25 && memory_after_change <= 75){
      $('#memory-progress').attr('aria-valuenow', memory_after_change).attr('class', 'progress-bar bg-warning').css('width', memory_after_change + "%").text(memory_after_change);
    }
  else{
    $('#memory-progress').attr('aria-valuenow', memory_after_change).attr('class', 'progress-bar bg-danger').css('width', memory_after_change + "%").text(memory_after_change);
  }
}
  var get_new_data = function(){
  $.get("/computers/{{computer.id}}/live" ,function(data){
    var before_change = $("#cpu").html();
    var current_cpu_procentage = data['CPU usage procentage']
    var last_cpu_procentage = $("#cpu").text();
    var current_memory_procentage = data["Memory usage procentage"]
    var last_memory_procentage = $("#memory").html();
    $("#cpu").text(current_cpu_procentage);
    $("#memory").html(current_memory_procentage);
    if(parseInt(current_cpu_procentage) - parseInt(last_cpu_procentage) >= 50){
      toastr["error"]("CPU procentage raised by more than 50% than last time!", "CPU procentage:")
    }
    if(parseInt(current_memory_procentage) - parseInt(last_memory_procentage) >= 50){
      toastr["error"]("Memory procentage raised by more than 50% than last time!", "Memory procentage:")
    }
    if( parseInt(last_cpu_procentage) -parseInt(current_cpu_procentage) >= 50){
      toastr["success"]("CPU procentage reduced by more than 50% than last time!", "CPU procentage:")
    }
    if( parseInt(last_memory_procentage) - parseInt(current_memory_procentage) >= 50){
      toastr["success"]("Memory procentage reduced by more than 50% than last time!", "Memory procentage:")
    }
    var task_status_pid = data['pid'];
    var task_status_name = data['name'];
    var task_status_cpu_percent = data['cpu_percent'];
    var task_status_memory_percent = data['memory_percent'];

    const $task_pid = $(".task-pid");
    const $task_name = $(".task-name");
    const $task_cpu_percent = $(".task-cpu-percent");
    const $task_memory_percent = $(".task-memory-percent");
    var task_pid_arr = new Array($task_pid.length);
    for(var i = 0; i< $task_pid.length; i++){ // same length
        task_pid_arr[i] = $task_pid.eq(i).text();
    }
    big_cpu_amount = Math.round(current_cpu_procentage/4);
    var pid_found = true;
    for(var i = 0; i< $task_pid.length; i++){
      if(!task_status_pid.includes($task_pid.eq(i).text())){ // only checks for closed pids
        var msg = "PID number: " + $task_pid.eq(i).text() + " Name: " + $task_name.eq(i).text() + " Has ended!"
        toastr["error"](msg, "Running Processes:")
      }
    }
    for(var i = 0; i< task_status_pid.length; i++){
      if(!task_pid_arr.includes(task_status_pid[i])){ // only checks for new pids
        var msg = "PID number: " + task_status_pid[i] + " Name: " + task_status_name[i] + " Has added!"
        toastr["success"](msg, "Running Processes:")
      }
    }
    for(var i = 0; i< task_status_pid.length; i++){
      $task_pid.eq(i).text(task_status_pid[i]);
      $task_name.eq(i).text(task_status_name[i]);
      $task_cpu_percent.eq(i).text(task_status_cpu_percent[i]);
      $task_memory_percent.eq(i).text(task_status_memory_percent[i]);
    }
    //var jso = JSON.parse(json);
    var cpu_after_change = $("#cpu").html();
    var memory_after_change = $("#memory").html();
    var running_programes = $("#processes").html();
    if(before_change != cpu_after_change){
        $(".live").fadeOut(200).fadeIn(200);
        cpu_after_change = parseInt(cpu_after_change);
        memory_after_change = parseInt(memory_after_change);
        change_progress_bar_color(cpu_after_change,memory_after_change);
      }
      setTimeout(get_new_data, timer);
  });
}

function download_the_file(){

}
/* handle automatic update computer info without refresh */

$(document).ready(function(){
  $(".add-href").on("click", function(e){
    e.preventDefault()
    console.log("d")

  });
  $(".dir-items").on("click", function(e){
    e.preventDefault()
    console.log("f")
  });
  download_the_file();
  setInterval(function(){
    $('#list-dir').on('change', function() {
  alert( this.value );
});
  },1000);
  change_progress_bar_color(cpu_usage,memory_usage);
  $("span").fadeOut(500).fadeIn(800); //animation
    var cpu_usage = $("#cpu").text();
    var memory_usage = $("#memory").text();
      setTimeout(function(){
          get_new_data(); // creating an interval with settimeout because the timer won't change with a normal interval
      }, timer);
  });
</script>
<style>
.scroll {
  background-color: #00d2ff;
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
  height: 200px;
}
.btn-primary{
  font-family: 'Bebas Neue', cursive;
}
.badge-light{
  font-family: 'Montserrat', sans-serif;

}
.add-font{
  font-family: 'Montserrat', sans-serif;

}
.progress-bar{
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.progress {
  width: 500px; 
  display: inline-block;
}
#memory-progress{
  width: "{{computer.memory_usage_procentage}}" + "%";
}
#cpu-progress{
  width: "{{computer.cpu_usage_procentage}}" + "%";
}
.my-custom-scrollbar {
position: relative;
height: 300px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
</style>
{% endblock %}