{% extends 'base.html' %}


{% block head%}
<title> original </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/show_computer_data.css') }}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body%}
  
<div id="content">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button class="dropdown-item" id="5">5fff</button>
      <a class="dropdown-item" id="6">6</a>
      <a class="dropdown-item" id="7">7</a>
      <input id="input" class="dropdown-item">
    </div>
  </div>
    <br>
    <br>
    <br>
    
    <div class="boxes">
    <button type="button" class="btn btn-primary" id="box">
        id:  <span class="badge badge-light">{{computer.id}}</span>
      </button>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary">
        mac address:  <span class="badge badge-light">{{computer.mac_address}}</span>
      </button>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary">
        ram usage:  <span class="badge badge-light">{{computer.ram_usage}}</span>
      </button>
    <br>
    <br>
    <br>
    <p class="btn btn-primary">running processes: </p>
    <div class="scroll badge badge-light" id="processes">{{computer.running_processes}}</div>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary">
        cpu usage procentage:  <span class="badge badge-light"  id ="cpu">{{computer.cpu_usage_procentage}}</span>
      </button>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary">
        memory usage procentage:  <span class="badge badge-light" id="memory">{{computer.memory_usage_procentage}}</span>
      </button>
    <br>
    <br>
    <br>
    <span id="log">0</span>
</div>
  </div>
<script>
  /* handle dropdown value */
var timer = 5000;
/* handle automatic update computer info without refresh */
$(document).ready(function(){
      $("span").hide(200).fadeOut(500).fadeIn(800);
      $(".dropdown-item").click(function(){
      var id = $(this).attr('id');
        if (id=="input"){
          $('#' + id).keypress(function (e) {
          var key = e.which;
          if(key == 13) 
            {
              timer = $('#' + id).val()
            }
          });   
        }
      else{
       timer = $('#' + id).html()
      }
  });
      setInterval(function(){
        $.get("/computers/{{computer.id}}/live" ,function(data){
          $("#cpu").html(data['CPU usage procentage'])  
          $("#memory").html(data["Memory usage procentage"])
          $("#processes").html(data["running processes"])
          //var jso = JSON.parse(json);
        });
        console.log(timer)
      }, timer);
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>{% endblock %}